<form id="scpay_post_form" action="{{ action }}" method="post">
	<input type="hidden" name="MerchantID" value="{{MerchantID}}">
  <input type="hidden" name="CurrencyCode" value="{{CurrencyCode}}">
  <input type="hidden" name="TxnAmount" value="{{TxnAmount}}">
  <input type="hidden" name="MerchantOrderNo" value="{{MerchantOrderNo}}">
  <input type="hidden" name="MerchantOrderDesc" value="{{MerchantOrderDesc}}">
  <input type="hidden" name="MerchantRef1" value="{{MerchantRef1}}">
  <input type="hidden" name="MerchantRef2" value="{{MerchantRef2}}">
  <input type="hidden" name="MerchantRef3" value="{{MerchantRef3}}">
  <input type="hidden" name="CustReference" value="{{CustReference}}">
  <input type="hidden" name="CustName" value="{{CustName}}">
  <input type="hidden" name="CustEmail" value="{{CustEmail}}">
  <input type="hidden" name="CustPhoneNo" value="{{CustPhoneNo}}">
  <input type="hidden" name="CustAddress1" value="{{CustAddress1}}">
  <input type="hidden" name="CustAddress2" value="{{CustAddress2}}">
  <input type="hidden" name="CustCountryCode" value="{{CustCountryCode}}">
  <input type="hidden" name="CustAddressState" value="{{CustAddressState}}">
  <input type="hidden" name="CustAddressCity" value="{{CustAddressCity}}">
  <input type="hidden" name="RedirectUrl" value="{{RedirectUrl}}">
  <input type="hidden" name="Versioning" value="{{Versioning}}">
  <input type="hidden" name="PaymentMethod" value="{{PaymentMethod}}">
  <input type="hidden" name="SCSign" value="{{SCSign}}">
	

	<div class="buttons">
		<div class="pull-right">
			<input type="submit" value="{{ button_confirm }}" class="btn btn-primary"/>
		</div>
	</div>

</form>
